@charset "UTF-8";
:root{
    --cor0: #00e66b;
    --cor1: #EFFF00;
    --cor2: #005AFF;
    --cor3: #F58E00;
    --cor4: #CA00F5;
}
/*
APENAS PARA CONFIGURAÇÃO NO BODY.
*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #87ff7786;
}
